<div >
    <span style="font-size: 1.3rem;"><b>ชำระเงิน</b></span>
    <br>
   
</div>
<br>

<form id="form1" action="https://pg.rsu.ac.th:1253/PaymentAuthWeb.aspx" method="post" style="display: none;">
    user: <input type="text" class="form-control fData Mandatory" id="User" name="User" value="sa@domain.com"
        maxlength="20" /><br />
    Pass: <input type="text" class="form-control fData Mandatory" id="Pass" name="Pass" value="Password@2017"
        maxlength="20" /><br />
    MerchantID: <input type="text" class="form-control fData Mandatory" id="MerchantID" name="MerchantID" value="007"
        maxlength="20" /><br />
    Ref1: <input type="text" class="form-control fData Mandatory" id="Ref1" name="Invoice" value="R18888881"
        maxlength="20" /><br />
    Amount: <input type="text" class="form-control fData Mandatory" id="Amount" name="Amount" value="10"
        maxlength="20" /><br />
    Ref2: <input type="text" class="form-control fData Mandatory" id="Ref2" name="Ref2" value="R28888881"
        maxlength="20" /><br />
    Channel: <input type="text" class="form-control fData Mandatory" id="Channel" name="Channel" value="WEB"
        maxlength="20" /><br />
    <br />
    <!-- <button type="submit" class="btn btn-success" id="btnSubmit" (click)="submitForm()">Pay</button>                   -->
</form>