

<section class="content">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        <strong>รายการการสมัครเรียน :</strong> <span >บัณฑิตวิทยาลัย	 </span>
                    </h1> 
                </div>  
            </div> 
        </div> 
    </div>  
    <div class="container-fluid">
        <div class="div-box card-outline card-info p-4"> 

            <mat-tab-group>
                <mat-tab label="รายการการสมัครเรียน">
                    <list-addmission></list-addmission>
                </mat-tab>
                <mat-tab label="สอบข้อเขียน">
                    <list-written-exam></list-written-exam>
                </mat-tab>
                <mat-tab label="สอบสัมภาษณ์">
                    <list-interview></list-interview>
                </mat-tab>
                <mat-tab label="ผ่านการพิจารณา">
                    <list-pass></list-pass>
                </mat-tab>
            </mat-tab-group>
  
            <!-- <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab1" role="tab" data-toggle="tab">รายการการสมัครเรียน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab3" role="tab" data-toggle="tab">สอบข้อเขียน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2" role="tab" data-toggle="tab">สอบสัมภาษณ์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab4" role="tab" data-toggle="tab">ผ่านการพิจารณา</a>
                </li>
            </ul>  -->

             
        </div>
    </div> 
</section> 