<h1>Permission</h1>
<app-search-template [confirmNameButton]="'ค้นหา'" (onClickConfirmButton)="search()" (onClickCancleButton)="reset()">
<ng-container content>
    <div class="flex_row_between">
        <mat-form-field appearance="outline" style="width: 32%;">
            <mat-label>รหัส</mat-label>
            <input matInput placeholder="รหัส" [(ngModel)]="request.app_permission_code">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 32%;">
            <mat-label>ชื่อไทย</mat-label>
            <input matInput placeholder="ชื่อ" [(ngModel)]="request.app_permission_name_th">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 32%;">
            <mat-label>ชื่ออังกฤษ</mat-label>
            <input matInput placeholder="ชื่อ" [(ngModel)]="request.app_permission_name_en" appTypeEngCharacter>
        </mat-form-field>
    </div>
</ng-container>
</app-search-template>
    