<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-card-title>แสดงรายละเอียดผู้สมัคร</mat-card-title>
        <div class="flex_row">
            <mat-form-field appearance="outline" class="paddingInput" style="width: 20%">
                <mat-label>ปีการศึกษา</mat-label>
                <mat-select [(ngModel)]="searchInput.academic_year_id" (valueChange)="changeYear($event)">
                    <mat-option *ngFor="let item of academicYearData" [value]="item.academic_year_id">
                        {{item.academic_year_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="paddingInput" style="width: 20%">
                <mat-label>ภาคเรียน</mat-label>
                <mat-select [(ngModel)]="searchInput.academic_semester_id">
                    <mat-option *ngFor="let item of academicSemesterData" [value]="item.academic_semester_id">
                        {{item.academic_semester_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="paddingInput" style="width: 20%">
                <mat-label>สถานะผู้สมัคร</mat-label>
                <mat-select [(ngModel)]="searchInput.application_status_id">
                    <mat-option *ngFor="let item of applicationStatusData" [value]="item.application_status_id">
                        {{item.application_status_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="paddingInput" style="width: 20%">
                <mat-label>ประเภทการศึกษา</mat-label>
                <mat-select [(ngModel)]="searchInput.personal_id">
                    <mat-option *ngFor="let item of educationTypesData" [value]="item.education_type_code">
                        {{item.education_type_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
        <div class="flex_row_between">
            <!-- <mat-form-field appearance="outline"  style="width: 100%">
                <mat-label>โครงการ</mat-label>
                <mat-select [(ngModel)]="searchInput.program_id">
                    <mat-option *ngFor="let item of programsData" [value]="item.program_id">
                        {{item.program_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-form-field style="width: 20%;" appearance="outline" class="paddingInput">
                <input matInput #programInput [(ngModel)]="searchInput.program_code" placeholder="ค้นหาโครงการ"
                    aria-label="ค้นหาโครงการต้องการศึกษา" [matAutocomplete]="pro" (input)="inputProgram(programInput.value)" />
                <mat-label>ค้นหาโครงการ</mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #pro="matAutocomplete">
                    <mat-option
                        (click)="changeProgram(ad)"
                        *ngFor="let ad of programsData | searchInputAuto : searchInput.program_code : 'display' "
                        [value]="ad.program_code" >
                        {{ad.display}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="paddingInput" appearance="outline" style="width: 75%;">
                <mat-label> ชื่อโครงการ </mat-label>
                <input disabled [value]="searchInput.program_code | getFormId : programsData : 'program_code' : 'program_name_th' : '' " matInput />
            </mat-form-field>
        </div>
        <div class="flex_row_between">
            <!-- <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>หลักสูตร</mat-label>
                <mat-select [(ngModel)]="searchInput.course_code">
                    <mat-option *ngFor="let item of courseData" [value]="item.course_code">
                        {{item.course_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-form-field style="width: 20%;" appearance="outline" class="paddingInput">
                <input matInput #courseCode [(ngModel)]="searchInput.course_code" placeholder="ค้นหาหลักสูตร"
                    aria-label="ค้นหาหลักสูตร" [matAutocomplete]="course" />
                <mat-label>ค้นหาหลักสูตร</mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #course="matAutocomplete">
                    <mat-option
                        *ngFor="let ad of courseData | searchInputAuto : searchInput.course_code : 'display' "
                        [value]="ad.course_code" >
                        {{ad.display}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="paddingInput" appearance="outline" style="width: 75%;">
                <mat-label> ชื่อหลักสูตร </mat-label>
                <input disabled [value]="searchInput.course_code | getFormId : courseData : 'course_code' : 'course_name_th' : '' " matInput />
            </mat-form-field>
        </div>
        <div class="flex_row">
            <!-- <mat-form-field appearance="outline" class="paddingInput" style="width: 20%">
                <mat-label>จังหวัด</mat-label>
                <mat-select (valueChange)="changeProvice($event)" [(ngModel)]="searchInput.school_province_name_th">
                    <mat-option *ngFor="let item of provinceData" [value]="item.province_name_th">
                        {{item.province_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-form-field style="width: 20%;" appearance="outline" class="paddingInput">
                <input matInput #school_province_name_th [(ngModel)]="searchInput.school_province_name_th" placeholder="ค้นหาจังหวัด"
                    aria-label="ค้นหาจังหวัด" [matAutocomplete]="school_province" />
                <mat-label>ค้นหาจังหวัด</mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #school_province="matAutocomplete">
                    <mat-option
                        *ngFor="let ad of provinceData | searchInputAuto : searchInput.school_province_name_th : 'province_name_th' "
                        (click)="changeProvice(ad.province_name_th)"
                        [value]="ad.province_name_th" >
                        {{ad.province_name_th}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field style="width: 20%;" appearance="outline" class="paddingInput">
                <input matInput #school_name [(ngModel)]="searchInput.school_name" placeholder="ค้นหาโรงเรียน"
                    aria-label="ค้นหาโรงเรียน" [matAutocomplete]="school" />
                <mat-label>ค้นหาโรงเรียน</mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #school="matAutocomplete">
                    <mat-option
                        *ngFor="let ad of schoolData | searchInputAuto : searchInput.school_name : 'school_name_th' "
                        [value]="ad.school_name_th" >
                        {{ad.school_name_th}} 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                <mat-label> เบอร์โทรศัพท์ </mat-label>
                <input [(ngModel)]="searchInput.mobile" (input)="recall($event.target.value)" matInput />
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="paddingInput" style="width: 20%">
                <mat-label>โรงเรียน</mat-label>
                <mat-select [(ngModel)]="searchInput.school_name">
                    <mat-option *ngFor="let item of schoolData" [value]="item.school_name_th">
                        {{item.school_name_th}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
        <div class="flex_row">
            <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                <mat-label> ชื่อ </mat-label>
                <input [(ngModel)]="searchInput.first_name_th" (input)="recall($event.target.value)" matInput />
            </mat-form-field>
            <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                <mat-label> นามสกุล </mat-label>
                <input [(ngModel)]="searchInput.last_name_th" (input)="recall($event.target.value)" matInput />
            </mat-form-field>
            <mat-form-field class="paddingInput" appearance="outline" style="width: 20%;">
                <mat-label> บัตรประชาชน/พาสปอร์ต </mat-label>
                <input [(ngModel)]="searchInput.personal_id" (input)="recall($event.target.value)" matInput />
            </mat-form-field>
            <div class="flex_row" style="width: 40%;">
                <div class="paddingInput">
                    <button style="width: 190px;" (click)="search()" mat-stroked-button color="accent"> ค้นหา</button>
                </div>
                <div class="paddingInput">
                    <button style="width: 190px;" (click)="clear()" mat-stroked-button color="accent"> ยกเลิก</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>แสดงผลรายละเอียดผู้สมัครจำนวน {{rows?.filteredData?.length}} คน</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['0','1', '2','3','4','5','6']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['0','1', '2', '3','4','5','6']"></tr>
            <ng-container matColumnDef="0">
                <th mat-header-cell *matHeaderCellDef>ลำดับ</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{index+1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่ผู้สมัครสอบ</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    {{data.application_id}}
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </th>
                <td mat-cell *matCellDef="let data">
                    {{data.prefix_name_th}}{{data.first_name_th}}&nbsp;{{data.last_name_th}}</td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทการศึกษา </th>
                <td mat-cell *matCellDef="let data">
                    {{data.education_type_name_th}}
                </td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขโครงการ </th>
                <td mat-cell *matCellDef="let data">{{data.program_code}}-{{data.program_name_th}}</td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะผู้สมัคร </th>
                <td mat-cell *matCellDef="let data">{{data.application_status_name_th}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะเอกสาร </th>
                <td mat-cell *matCellDef="let data"></td>
            </ng-container> -->
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let data">
                    <button mat-icon-button color="accent" (click)="addPage(data.applicant_apply_id)"
                        aria-label="Example icon button with a home icon">
                        <mat-icon matSuffix>
                            <span class="material-icons">
                                search
                            </span>
                        </mat-icon>
                    </button>
                </td>
            </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>