
    <div class="content-wrapper"> 
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">
                            <strong>ข้อมูลผู้สมัคร  </strong>>
                        </h1> 
                    </div>  
                </div> 
            </div> 
        </div>  

    
        <div class="container-fluid">
            <div class="div-box card-outline card-info p-4"> 
                
            <div class="col p-4">
                <h3 class="border-bottom pb-2">
                    <strong>หลักสูตรระยะสั้น ( Shortcourse )</strong>    	
                </h3>
                <div class="row">
                    <div class="col-12">
                        <h4 class="mt-3"><strong>ข้อมูลShortcourse</strong></h4>
                        <hr>
                    </div>
                    <div class="col-xl-7 col-12">
                        
                        <div class="form-group row mb-0">
                            <label class="col-xl-2">ชื่อหลักสูตร :</label>
                            <label class="col-xl-6"> Speech Empowering	</label>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-xl-2">ระยะเวลา :</label>
                            <label class="col-xl-6">ไม่จำกัด </label>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-xl-2">ค่าลงทะเบียน	 :</label>
                            <label class="col-xl-6">1,000 บาท	</label>
                        </div> 
                        <div class="form-group row mb-0">
                            <label class="col-xl-2">หน่วยงาน :</label>
                            <label class="col-xl-6">คณะบัญชี</label>
                        </div> 
                        <div class="form-group row mb-0">
                            <label class="col-xl-2">รูปแบบ  :</label>
                            <label class="col-xl-6">Online</label>
                        </div> 
                        <div class="form-group row mb-0">
                            <label class="col-xl-2">สำหรับ  :</label>
                            <label class="col-xl-6">บุคคลทั่วไป</label>
                        </div>  

                        <div class="form-group row mb-0">
                            <label class="col-xl-2">วันที่สมัคร	 :</label>
                            <label class="col-xl-6">10/02/2565	</label>
                        </div> 
                    </div>
                    <div class="col-xl-5 col-12"> 
                        <img src="assets/images/template.png" class="img-fluid d-block mx-auto " alt="png">
                    </div>
                    <div class="col-12">&nbsp;</div>
                    <div class="col-6"> 
                        <h4 class="mt-3"><strong>ข้อมูลผู้สมัคร</strong></h4>
                        <hr>
                        <div class="form-group row mb-0">
                            <label class="col-xl-4">ชื่อ-นามสกุล :</label>
                            <label class="col-xl-6">อดิศร ศรีสุธรรม</label>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-xl-4">วันเดือนปีเกิด :</label>
                            <label class="col-xl-6">29/11/2547</label>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-xl-4">อายุ :</label>
                            <label class="col-xl-6">18</label>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-xl-4">เพศ :</label>
                            <label class="col-xl-6">ชาย</label>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-xl-4">อีเมล :</label>
                            <label class="col-xl-6">pimpae@hotmail.com</label>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-xl-4">โทรศัพท์ :</label>
                            <label class="col-xl-6">098-939-3938</label>
                        </div> 
                    </div>
                    
                    <div class="col-12 pb-3"> 
                        <br>
                        <hr>
                        <br>
                        <div class="form-group row mb-0">
                            <div class="col-xl-2">&nbsp;</div> 
                            <div class="col-xl-10">
                                <button  class="btn btn-success mr-2" data-toggle="modal" data-target="#myModal1">
                                    รับเข้าเลย <i class="fas fa-check-circle"></i>
                                </button>
                                <button  class="btn btn-danger mr-2" data-toggle="modal" data-target="#myModal2">
                                    ไม่อนุมัติรับเข้า <i class="far fa-times-circle"></i>
                                </button> 
                            </div> 
                        </div> 
                        
                    </div> 
                </div>      
            </div>
        </div> 



<div class="modal fade" id="myModal1">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header --> 
        <!-- Modal body -->
        <div class="modal-body">
            <div class="col text-center pt-5">
                <h1><i class="fas fa-check-circle text-success"></i></h1>
                <h2 class="text-success">ยืนยันผ่านการพิจารณาผู้สมัคร</h2>
                
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <div class="col text-center">
                <a href="admission-list.html"  class="btn btn-success mr-3">ยืนยัน</a>
                <button  class="btn btn-outline-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
</div>



<div class="modal fade" id="myModal2">
<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title text-danger"><b>นัดหมายวันสัมภาษณ์</b></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h4>วันที่นัดหมาย</h4>
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-8">
                        <h4>เวลา</h4>
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-8">
                        <h4>สถานที่</h4>
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <div class="col">
                <a href="admission-list.html"  class="btn btn-primary mr-2">ยืนยันวันสัมภาษณ์</a>
                <button  class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
</div>

