<app-list-template [title]="'data'" [confirmNameButton]="'เพิ่ม data'" (onClickConfirmButton)="add()">
    <ng-container content>    
        <table mat-table [dataSource]="rows" matSort style="width: 100%;">
        <tr mat-header-row *matHeaderRowDef="['customer_id','customer_code','customer_name']"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: ['customer_id','customer_code','customer_name']"></tr>
        <ng-container matColumnDef="customer_id">
            <th mat-header-cell *matHeaderCellDef> เครื่องมือ </th>
            <td mat-cell *matCellDef="let data"> 
                <button class="btn btn-warning btn-sm" style="margin-right: 5px;" >
                    <i class="fa fa-pencil" ></i>
                </button>
                <button class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o " ></i>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="customer_code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> โค๊ดลูกค้า </th>
            <td mat-cell *matCellDef="let data" > {{data.customer_code}} </td>
        </ng-container>
        <ng-container matColumnDef="customer_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อลูกค้า </th>
            <td mat-cell *matCellDef="let data"> {{data.customer_name}} </td>
        </ng-container>
        </table>
        <br>
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </ng-container>
</app-list-template>
