.text_primary {
    color: #007bff!important;
}
.text_info {
    color: #17a2b8!important;
}
.text_danger {
    color: #dc3545!important;
}
.text_success {
    color: #28a745!important;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    font-size: 12px !important;
}