@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        /* change the margins as you want them to be. */
   } 
}
// table tr th {
//     padding: 15px;font-size: 18px;color: white;background-color: turquoise;
// }
// table tr td {
//     padding: 10px;text-align: center;font-size: 18px;
// }