<form [formGroup]="form">
  <mat-card class="mat-elevation-z4">
      <mat-card-content>
          <div class="flex_row_between">
              <mat-form-field appearance="outline" style="width: 45%;">
                  <mat-label>รหัสวิชา</mat-label>
                  <input matInput formControlName="exam_subject_code" />
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 45%;">
                  <mat-label>ชื่อวิชา</mat-label>
                  <input matInput formControlName="exam_subject_name_th" />
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 45%;">
                  <mat-label>ชื่อวิชา (ภาษาอังกฤษ)</mat-label>
                  <input matInput formControlName="exam_subject_name_en"  appTypeEngCharacter/>
              </mat-form-field>
          </div>
      </mat-card-content>
      <br>
      <div class="flex_row_end">
          <button style="width: 190px;" color="accent" (click)="save()" mat-raised-button>บันทึก</button>&nbsp;&nbsp;
          <button mat-raised-button style="width: 190px;"  (click)="close()" mat-raised-button>ยกเลิก</button>
  
      </div>
  </mat-card>
  </form>