<form [formGroup]="form">
    <mat-card class="mat-elevation-z4">
        <mat-tab-group>
            <mat-tab label="สมัครเรียน">

                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <div class="flex_row" [formGroupName]="'applicantapply'">
                            <mat-form-field class="paddingInput" disabled style="width: 15%;"
                                appearance="outline">
                                <mat-label> เลขที่ผู้สมัคร </mat-label>
                                <input matInput formControlName="application_id" />
                            </mat-form-field>
                            <button style="width: 190px;" class="paddingInput" color="accent"
                                (click)="click_application_id()"
                                mat-raised-button>นำเข้าใบสมัครออนไลน์</button>&nbsp;&nbsp;
                        </div>
                        <br>
                        <div class="flex_row">ประเภทการศึกษา</div>
                        <div class="flex_row" [formGroupName]="'applicantapply'">
                            <mat-form-field style="width: 15%;" appearance="outline"
                                class="paddingInput">
                                <input matInput #programInput formControlName="program_code"
                                    placeholder="ค้นหาโครงการที่ต้องการศึกษา" aria-label="ค้นหาโครงการต้องการศึกษา"
                                    [matAutocomplete]="pro" />
                                <mat-label>ค้นหาโครงการที่ต้องการศึกษา</mat-label>
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-autocomplete #pro="matAutocomplete">
                                    <mat-option
                                        *ngFor="let ad of program | searchProgram :form.get('applicantapply.program_code').value"
                                        [value]="ad.program_code" (onSelectionChange)="selectProgramCode(ad)">
                                        {{ad.program_code}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>


                            <!-- <mat-form-field appearance="outline" class="paddingInput" style="width: 15%;">
                                <mat-label>โครงการ</mat-label>
                                <mat-select (valueChange)="changeProgram($event)">
                                    <mat-option *ngFor="let food of program" [value]="food">
                                        {{food.program_name_th}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field disabled class="paddingInput" style="width: 70%;"
                                appearance="outline">
                                <mat-label> ชื่อโครงการ </mat-label>
                                <input matInput disabled formControlName="program_name" />
                            </mat-form-field>
                        </div>
                        <div class="flex_row" [formGroupName]="'applicantapply'">
                            <mat-form-field disabled class="paddingInput" style="width: 15%;"
                                appearance="outline">
                                <mat-label> ปริญญาตรี </mat-label>
                                <input matInput disabled formControlName="education_type_name_th" />
                            </mat-form-field>
                            <mat-form-field disabled class="paddingInput" style="width: 15%;"
                                appearance="outline">
                                <mat-label> ภาคการศึกษา </mat-label>
                                <input matInput disabled formControlName="academic_semester_name" />
                            </mat-form-field>
                            <mat-form-field disabled class="paddingInput" style="width: 15%;"
                                appearance="outline">
                                <mat-label> ปีการศึกษา </mat-label>
                                <input matInput disabled formControlName="academic_year_name" />
                            </mat-form-field>
                            <button style="width: 190px;" class="paddingInput" (click)="inportContact()" color="accent"
                                mat-raised-button>นำเข้ารายชื่อจาก สกอ.</button>&nbsp;&nbsp;
                        </div>
                        <br>
                        <ng-container [formGroupName]="'applicantapply'">
                            <mat-form-field style="width: 100%;" appearance="outline"
                                (click)="search()">
                                <input matInput #courseInput formControlName="courseName"
                                    placeholder="ค้นหาหลักสูตรที่ต้องการศึกษา" aria-label="ค้นหาหลักสูตรที่ต้องการศึกษา"
                                    [matAutocomplete]="sub" />
                                <mat-label>ค้นหาหลักสูตรที่ต้องการศึกษา</mat-label>
                                <mat-icon matSuffix>search</mat-icon>
                                <mat-autocomplete #sub="matAutocomplete">
                                    <mat-option *ngFor="let ad of educations" [value]="ad.name_th"
                                        (onSelectionChange)="selectCourse(ad)">
                                        {{ad.major_code}}-{{ad.name_th }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </ng-container>
                        <mat-card-title style="padding: 10px;font-size: 14px;;">ค่าใช้จ่ายการสมัคร {{entollPrice |
                            number: '1.0-0'}} (บาท) </mat-card-title>
                        <table mat-table [dataSource]="courses" matSort class="mat-elevation-z2" style="width: 100%;">
                            <tr mat-header-row *matHeaderRowDef="['course_id','course_name','row_order']"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: ['course_id','course_name','row_order']">
                            </tr>
                            <ng-container matColumnDef="course_id">
                                <th mat-header-cell *matHeaderCellDef>อันดับที่</th>
                                <td mat-cell *matCellDef="let data; let index = index">
                                    {{ index + 1 }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="course_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> รายการค่าใช้งาน </th>
                                <td mat-cell *matCellDef="let data">{{ data.major_code }}-{{ data.course_name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="row_order">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ลบ </th>
                                <td mat-cell *matCellDef="let data;let index = index">
                                    <button mat-icon-button color="accent"
                                        aria-label="Example icon button with a home icon" (click)="removeCoures(index)">
                                        <mat-icon> delete </mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                        </table>
                        <br>
                        <ng-container [formGroupName]="'applicants'">
                            <div class="flex_row">
                                <mat-form-field style="width: 15%;" appearance="outline"
                                    class="paddingInput">
                                    <mat-label> บัตรประชาชน / พาสปอร์ต </mat-label>
                                    <input matInput formControlName="personal_id" type="text" />
                                    <mat-error *ngIf="form.get('applicants.personal_id').hasError('maxLength')">
                                        ต้องการรหัสไม่เกิน 13 หลัก</mat-error>
                                    <mat-error *ngIf="form.get('applicants.personal_id').hasError('notReal')">
                                        รหัสบัตรประชาชนไม่ถูกต้อง</mat-error>

                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width: 15%;"
                                    class="paddingInput">
                                    <mat-label>คำนำหน้าชื่อ</mat-label>
                                    <mat-select placeholder="คำนำหน้าชื่อ" (valueChange)="changePrefix($event)"
                                        formControlName="prefix_id">
                                        <mat-option *ngFor="let prefix of prefixs" [value]="prefix.prefix_id">
                                            {{prefix.prefix_name_th}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field style="width: 15%;" appearance="outline"
                                    class="paddingInput">
                                    <mat-label> ชื่อ </mat-label>
                                    <input matInput [maxLength]="50" formControlName="first_name_th" />
                                </mat-form-field>

                                <mat-form-field style="width: 15%;" appearance="outline"
                                    class="paddingInput">
                                    <mat-label> นามสกุล </mat-label>
                                    <input matInput [maxLength]="50" formControlName="last_name_th" />
                                </mat-form-field>
                                <mat-radio-group aria-label="Select an option" class="paddingInput" style="width: 15%;"
                                    formControlName="gender_id">
                                    เพศ
                                    &nbsp;
                                    <mat-radio-button [value]="1">ชาย</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button [value]="2">หญิง</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="flex_row">
                                <mat-form-field style="width: 15%;" class="paddingInput"
                                    appearance="outline">
                                    <mat-label>วันเดือนปีเกิด (พ.ศ)</mat-label>
                                    <input (dateChange)="dateChange($event.value)" (click)="picker.open()" matInput readonly
                                        [max]="a" [matDatepicker]="picker" formControlName="date_of_birth"
                                        autocomplete="off" (selectedValueChange)="dateChange($event)">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field style="width: 15%;" class="paddingInput"
                                    appearance="outline">
                                    <mat-label> อายุ </mat-label>
                                    <input #age matInput [disabled]="true" />
                                    <span matSuffix>ปี</span>
                                </mat-form-field>
                                <button style="width: 190px;" class="paddingInput" color="accent"
                                    (click)="click_personal()"
                                    mat-raised-button>นำเข้าข้อมูลบัตรประชาชน</button>&nbsp;&nbsp;
                                <!-- <mat-form-field style="width: 15%;" class="paddingInput"
                                    appearance="outline">
                                    <mat-label> อีเมล </mat-label>
                                    <input matInput formControlName="email" />
                                    <mat-error *ngIf="form.get('applicants.email').hasError('email')">
                                        อีเมลไม่ถูกต้อง</mat-error>
                                </mat-form-field> -->

                                <!-- <mat-form-field style="width: 15%;" class="paddingInput"
                                    appearance="outline">
                                    <mat-label> โทรศัพท์ </mat-label>
                                    <input matInput [maxLength]="10" numberCharacter formControlName="mobile" />
                                </mat-form-field> -->
                            </div>



                            <!-- <div class="flex_row_between">
                                <mat-form-field style="width: 45%;" appearance="outline">
                                    <mat-label> ชื่อ </mat-label>
                                    <input matInput [maxLength]="50" formControlName="first_name_th" />
                                </mat-form-field>

                                <mat-form-field style="width: 45%;" appearance="outline">
                                    <mat-label> นามสกุล </mat-label>
                                    <input matInput [maxLength]="50" formControlName="last_name_th" />
                                </mat-form-field>
                            </div> -->

                            <!-- <div class="flex_row_between">
                                <mat-form-field style="width: 45%;" appearance="outline">
                                    <mat-label> อายุ </mat-label>
                                    <input #age matInput [disabled]="true" />
                                    <span matSuffix>ปี</span>
                                </mat-form-field>
                                <mat-radio-group aria-label="Select an option" style="width: 45%;"
                                    formControlName="gender_id">
                                    เพศ
                                    &nbsp;
                                    <mat-radio-button [value]="1">ชาย</mat-radio-button>
                                    &nbsp;
                                    <mat-radio-button [value]="2">หญิง</mat-radio-button>
                                </mat-radio-group>
                            </div> -->

                            <!-- <div class="flex_row_between">
                                <mat-form-field style="width: 45%;" appearance="outline">
                                    <mat-label> อีเมล </mat-label>
                                    <input matInput formControlName="email" />
                                   
                                    <mat-error *ngIf="form.get('applicants.email').hasError('email')">
                                        อีเมลไม่ถูกต้อง</mat-error>
                                </mat-form-field>

                                <mat-form-field style="width: 45%;" appearance="outline">
                                    <mat-label> โทรศัพท์ </mat-label>
                                    <input matInput [maxLength]="10" formControlName="mobile" />
                                </mat-form-field>
                            </div> -->
                        </ng-container>

                        <ng-container [formGroupName]="'applicants'">
                            <div class="flex_row">
                                <mat-checkbox #congrad class="paddingInput" formControlName="foreign_school_flag"
                                    style="width: 15%;">
                                    จบจากต่างประเทศ</mat-checkbox>

                                <mat-form-field *ngIf="!congrad.checked" style="width: 15%;"
                                    appearance="outline" class="paddingInput">
                                    <input matInput formControlName="school_province_name" placeholder="จังหวัด"
                                        aria-label="State" [matAutocomplete]="co" />
                                    <mat-icon matSuffix style="cursor: pointer;" (click)="openPopup()">search</mat-icon>
                                    <mat-autocomplete #co="matAutocomplete">
                                        <mat-option  *ngFor="let c of provinces"
                                            (onSelectionChange)="selectProvincSchool(c)" [value]="c.province_name_th">
                                            {{c.province_name_th}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field *ngIf="congrad.checked" style="width: 15%;"
                                    class="paddingInput" appearance="outline">
                                    <input matInput formControlName="school_country_name" placeholder="ประเทศ"
                                        aria-label="State" [matAutocomplete]="co" />
                                    <mat-icon matSuffix>search</mat-icon>
                                    <mat-autocomplete #co="matAutocomplete" >
                                        <mat-option  *ngFor="let c of country"
                                            (onSelectionChange)="selectCountry(c)" [value]="c.country_name_th">
                                            {{c.country_name_th}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field style="width: 15%;" appearance="outline"
                                    class="paddingInput"
                                    *ngIf="form.get('applicants.foreign_school_flag').value == true">
                                    <input matInput formControlName="school_name" placeholder="โรงเรียน"
                                        aria-label="State" />
                                </mat-form-field>
                                <mat-form-field style="width: 15%;" appearance="outline"
                                    class="paddingInput"
                                    *ngIf="form.get('applicants.foreign_school_flag').value == false">
                                    <input matInput formControlName="school_name" placeholder="โรงเรียน"
                                        aria-label="State" [matAutocomplete]="School" />
                                    <mat-icon matSuffix style="cursor: pointer;" (click)="openPopupSchool()">search
                                    </mat-icon>
                                    <mat-autocomplete #School="matAutocomplete" >
                                        <mat-option  *ngFor="let s of school"
                                            (onSelectionChange)="selectSchool(s)" [value]="s.school_name_th">
                                            {{ s.school_name_th }}
                                        </mat-option>
                                        <mat-option  [disabled]="true"
                                            *ngIf="(school.length == 0 || !this.form.get('applicants.school_name')?.value)  && !congrad.checked">
                                            <span>ไม่พบรายการที่ต้องการค้นหา</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <!-- <mat-form-field style="width: 15%;" appearance="outline" class="paddingInput">
                                <input matInput placeholder="ปีที่สำเร็จการศึกษา" numberCharacter aria-label="ปีที่สำเร็จการศึกษา"
                                    formControlName="graduate_year" [maxLength]="4" />
                                <mat-label>ปีที่สำเร็จการศึกษา:</mat-label>
                            </mat-form-field> -->
                                <mat-form-field style="width: 15%;" appearance="outline"
                                    class="paddingInput">
                                    <mat-label>เกรดเฉลี่ย</mat-label>
                                    <input matInput formControlName="gpa" [maxLength]="4" />
                                </mat-form-field>
                            </div>
                            <!-- <div class="flex_row" >
                                <mat-form-field style="width: 15%;" appearance="outline" class="paddingInput">
                                    <mat-label>วุฒิการศึกษา</mat-label>
                                    <mat-select placeholder="วุฒิการศึกษา" formControlName="education_level_id">
                                        <mat-option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.education_level_id">
                                            {{educationLevel.education_level_name_th}}
                                        </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-form-field style="width: 15%;" appearance="outline" class="paddingInput">
                                    <mat-label>สาขา/แผนก/โปรแกรม</mat-label>
                                    <mat-select placeholder="สาขา/แผนก/โปรแกรม" formControlName="program_type_id">
                                        <mat-option *ngFor="let programstype of programsType" [value]="programstype.program_type_id">
                                            {{programstype.program_type_name_th}}
                                        </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div> -->

                            <!-- <div class="flex_row_between"> -->
                            <!-- <mat-form-field style="width: 15%;" appearance="outline" class="paddingInput"
                                    *ngIf="form.get('applicants.foreign_school_flag').value == true">
                                    <input matInput formControlName="school_name" placeholder="โรงเรียน"
                                        aria-label="State" />
                                </mat-form-field> -->
                            <!-- <mat-form-field style="width: 45%;" appearance="outline"
                                    *ngIf="form.get('applicants.foreign_school_flag').value == false">
                                    <input matInput formControlName="school_name" placeholder="โรงเรียน"
                                        aria-label="State" [matAutocomplete]="School" />
                                    <mat-icon matSuffix>search</mat-icon>
                                    <mat-autocomplete #School="matAutocomplete">
                                        <mat-option *ngFor="let s of school" (onSelectionChange)="selectSchool(s)"
                                            [value]="s.school_name_th">
                                            {{ s.school_name_th }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field> -->



                            <!-- </div> -->
                            <!-- <div class="flex_row_between">
                      <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>สถาบันการศึกษา</mat-label>
                        <input matInput formControlName="graduate_from_name" />
                      </mat-form-field>
                    </div> -->

                            <!-- <div class="flex_row_between"> -->
                            <!-- <mat-form-field *ngIf="congrad.checked" style="width: 45%;" appearance="outline">
                        <input
                          matInput
                          formControlName="school_country_name"
                          placeholder="ประเทศ"
                          aria-label="State"
                          [matAutocomplete]="co"
                        />
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-autocomplete #co="matAutocomplete" >
                          <mat-option *ngFor="let c of country"  
                             (onSelectionChange)="selectCountry(c)"
                             [value]="c.country_name_th">
                            {{c.country_name_th}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field> -->


                            <!-- </div> -->
                        </ng-container>

                    </mat-card-content>
                </mat-card>
                <br>

                <!-- <ng-container [formGroupName]="'applicants'">
                    <mat-card class="mat-elevation-z4">
                        <mat-card-content>
                            <mat-card-title> ข้อมูลที่อยู่ส่วนตัว </mat-card-title>
                            <br>
                           
                            <br>

                        </mat-card-content>
                    </mat-card>

                </ng-container> -->


                <!-- <section>
          <div class="flex_row_between">
            <mat-card (click)="onSelectProgram(program)" style="align-self: stretch;cursor: pointer;" *ngFor="let program of programs">
                {{ program.program_name_th }}
            </mat-card>
          </div>
        </section> -->
                <!-- <mat-card class="mat-elevation-z4" [formGroupName]="'applicants'">
                    <mat-card-title> ที่อยู่ </mat-card-title>
                    <br>
                    <div class="flex_row">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>ที่อยู่</mat-label>
                            <textarea matInput formControlName="address1"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="flex_row_between">
                        <mat-form-field style="width: 30%;" appearance="outline">
                            <mat-label>ถนน</mat-label>
                            <input matInput placeholder="ซอย" aria-label="ซอย" formControlName="road" />
                        </mat-form-field>
                        <mat-form-field style="width: 30%;" appearance="outline">
                            <input matInput formControlName="moo" placeholder="หมู่" aria-label="จังหวัด" />
                            <mat-label>หมู่</mat-label>
                        </mat-form-field>
                        <mat-form-field style="width: 30%;" appearance="outline">
                            <input matInput formControlName="soi" placeholder="ซอย" aria-label="จังหวัด" />
                            <mat-label>ซอย</mat-label>
                        </mat-form-field>
                    </div>
                    <div class="flex_row_between">
                        <mat-form-field style="width: 45%;" appearance="outline">
                            <input matInput formControlName="sub_district_name" placeholder="แขวง / ตำบล"
                                aria-label="State" [matAutocomplete]="subAddress" />
                            <mat-label>ตำบล</mat-label>
                            <mat-icon matSuffix>search</mat-icon>
                            <mat-autocomplete #subAddress="matAutocomplete">
                                <mat-option *ngFor="let ad of address" (onSelectionChange)="selectAddress($event,ad)"
                                    [value]="ad.sub_district_name_th">
                                    {{ad.name_th}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field style="width: 45%;" appearance="outline">
                            <input matInput formControlName="district_name" placeholder="เขต / อำเภอ" aria-label="State"
                                [matAutocomplete]="dis" />
                            <mat-label>อำเภอ</mat-label>
                            <mat-autocomplete #dis="matAutocomplete">
                                <mat-option *ngFor="let d of districts" [value]="d.district_name_th">
                                    {{ d.district_name_th }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div class="flex_row_between">
                        <mat-form-field style="width: 45%;" appearance="outline">
                            <input matInput formControlName="province_name" placeholder="จังหวัด"
                                aria-label="จังหวัด" />
                            <mat-label>จังหวัด</mat-label>
                        </mat-form-field>
                        <mat-form-field style="width: 45%;" appearance="outline">
                            <mat-label>รหัสไปรษณีย์</mat-label>
                            <input matInput formControlName="postal_code" />
                        </mat-form-field>
                    </div>
                </mat-card> -->

                <!-- <br> -->
                <!-- <mat-card class="mat-elevation-z4" [formGroupName]="'applicants'">
                    <mat-card-title> ยืนยันการสมัคร </mat-card-title>
                    <br>
                <mat-card-content>
                  
                    <div class="flex_row_between">
                        <div class="flex_row_between" style="width: 45%;">
                        <mat-form-field disabled style="width: 100%;" appearance="outline">
                            <mat-label> ชื่อ </mat-label>
                            <input matInput [disabled]="true" [value]="form.value.applicants.first_name_th" />
                        </mat-form-field>    
                        </div>
                        <mat-form-field disabled style="width: 45%;" appearance="outline">
                            <mat-label> นามสกุล </mat-label>
                            <input matInput [disabled]="true" [value]="form.value.applicants.last_name_th" />
                        </mat-form-field>
                    </div>
                    <div class="flex_row_between">
                            <mat-form-field  disabled style="width: 45%;" appearance="outline">
                                <mat-label> อีเมล </mat-label>
                                <input matInput [disabled]="true" [value]="form.value.applicants.email" />
                            </mat-form-field>
                            <mat-form-field disabled style="width: 45%;" appearance="outline">
                                <mat-label> เบอร์โทรศัพ </mat-label>
                                <input matInput [disabled]="true" [value]="form.value.applicants.mobile" />
                            </mat-form-field>
                    </div>
                    <br>
                </mat-card-content>
            </mat-card>
            <br> -->
                <!-- <mat-card class="mat-elevation-z4">
                    <div class="flex_row">
                        <div style="width: 20%;">
                            <ng-container [formGroupName]="'applicantapply'">
                                <mat-checkbox formControlName="is_document_completed">ตรวจสอบเอกสารผ่านแล้ว
                                </mat-checkbox>
                            </ng-container>
                        </div>
                        <div style="width: 80%;">
                            <ng-container [formGroupName]="'applicantapply'">
                                <mat-checkbox formControlName="payment_flag">ชำระเงิน</mat-checkbox>
                            </ng-container>
                            <br>
                            <ng-container *ngIf="form.get('applicantapply.payment_flag').value == true">
                                <div class="flex_row" [formGroupName]="'applicantapply'">
                                    <mat-radio-group formControlName="payment_type_code" aria-label="Select an option"
                                        style="width: 50%;">
                                        <mat-radio-button [value]="'S'">ชำระเงินค่าสมัครแล้ว</mat-radio-button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <mat-radio-button [value]="'P'">ชำระเงินสด</mat-radio-button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <mat-radio-button [value]="'Q'">ชำระเงินผ่าน QR Code</mat-radio-button>
                                    </mat-radio-group>
                                    
                                    <mat-form-field class="paddingInput"
                                        *ngIf="form.get('applicantapply.payment_type_code').value == 'P' || form.get('applicantapply.payment_type_code').value == 'Q'"
                                        style="width: 15%;" appearance="outline">
                                        <mat-label> จำนวนเงินที่ต้องชำระ </mat-label>
                                        <input matInput type="number" formControlName="payment_amount" />
                                    </mat-form-field>
                                    <mat-form-field style="width: 15%;" appearance="outline" class="paddingInput">
                                        <mat-label> คูปอง </mat-label>
                                        <input matInput #couponInput type="text" />
                                    </mat-form-field>
                                    <button color="accent" (click)="getCoupon(couponInput.value)" class="paddingInput"
                                        mat-raised-button>ตกลง</button>
                                    
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </mat-card> -->
                <br>
                <mat-card class="mat-elevation-z4">
                    <mat-card-content>
                        <div class="flex_row_end">
                            <button style="width: 190px;" color="accent" (click)="onSubmit()"
                                mat-raised-button>บันทึก</button>&nbsp;&nbsp;
                            <!-- <button style="width: 190px;" color="accent" (click)="onSubmit()" mat-raised-button>ชำระเงินสด</button>&nbsp;&nbsp;
                        <button style="width: 190px;" color="accent" (click)="onSubmitQrCode()" mat-raised-button>ชำระเงินผ่าน QR Code</button>&nbsp;&nbsp; -->


                        </div>
                    </mat-card-content>
                </mat-card>

            </mat-tab>
        </mat-tab-group>

    </mat-card>
</form>
<!-- <pre>{{form.getRawValue()| json}}</pre> -->