<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        <strong>รายการการสมัครเรียน :</strong> <span >Short Course	 </span>
                    </h1> 
                </div>  
            </div> 
        </div> 
    </div>  
    <div class="container-fluid">
        <div class="div-box card-outline card-info p-4">

            <mat-tab-group>
                <mat-tab label="รายการการสมัครเรียน">
                    <list-addmission></list-addmission>
                </mat-tab>
               
                <mat-tab label="พิจาณารับเข้าแล้ว">
                    <list-accepted></list-accepted>
                </mat-tab>
               
            </mat-tab-group>
  
          
             
        </div>
    </div> 
</section> 