<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <div class="flex_row_between">
            <mat-form-field appearance="outline" style="width: 5%;">
                <input matInput />
            </mat-form-field>
            <mat-card-title style="width: 94%;">จำนวนรายการทั้งหมดที่ค้นพบ</mat-card-title>
        </div>
    </mat-card-header>
    <br>
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <div class="flex_row_between">
                <mat-radio-group aria-label="Select an option" style="width: 25%;">
                    พิจารณาคำร้อง
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="1">อนุมัติ</mat-radio-button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="2">ไม่อนุมัติ</mat-radio-button>
                </mat-radio-group>
            </div>
        </mat-card-header>
    </mat-card>
    <br>
    <mat-card-header>
        <mat-card-title>แสดงผลการสอบถาม</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="rows" matSort class="mat-elevation-z2" style="width: 100%;">
            <tr mat-header-row *matHeaderRowDef="['0','1', '2','3','4','5','6','action']"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: ['0','1', '2', '3','4','5','6','action']"></tr>
            <ng-container matColumnDef="0">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let data; let index = index">
                    <mat-checkbox></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="1">
                <th mat-header-cell *matHeaderCellDef>เลขที่ผู้สมัครสอบ</th>
                <td mat-cell *matCellDef="let data; let index = index">
                    0001
                </td>
            </ng-container>
            <ng-container matColumnDef="2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-นามสกุล </th>
                <td mat-cell *matCellDef="let data">นราวดี สุธิการ</td>
            </ng-container>
            <ng-container matColumnDef="3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะผู้สมัคร </th>
                <td mat-cell *matCellDef="let data">ผ่าน</td>
            </ng-container>
            <ng-container matColumnDef="4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขโครงการ </th>
                <td mat-cell *matCellDef="let data">002</td>
            </ng-container>
            <ng-container matColumnDef="5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> วุฒิการศึกษา </th>
                <td mat-cell *matCellDef="let data">ม.6</td>
            </ng-container>
            <ng-container matColumnDef="6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> สาขาวิชา </th>
                <td mat-cell *matCellDef="let data">การบัญชี</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let data">
                    <button mat-icon-button color="accent" (click)="openPopUp()" aria-label="Example icon button with a home icon">
                        <mat-icon matSuffix>
                            <span class="material-icons">
                                search
                            </span>
                        </mat-icon>
                    </button>
                </td>
            </ng-container>
        </table>
    </mat-card-content>
    <br>
    <div class="flex_row_end">
        <button style="width: 190px;" color="accent" mat-raised-button>พิมพ์รายงาน</button>

    </div>
</mat-card>